.App {
  width: 100%;
  height: 100%;
}

.App .header{
  text-align: center;
  padding: 20px;
  color: rgb(242, 245, 247);
  background-color: darkcyan;
}

.App .container{
  display: flex;
  min-height: calc(100% - 58px - 34px) ;
}
.App .container .animalTableBox{
  width: 55%;
  padding: 16px;
}
.App .container .animalDetailBox{
  width: 45%;
  padding: 16px;
}

.App .footer{
  text-align: center;
  padding: 8px;
  background-color: darkgray;
}

.btn {
  background-color: grey; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
}
.btn.small {
  padding: 11px 24px;
  font-size: 12px;
}
.btn.success{
  background-color: #4CAF50; /* Green */
}
.btn.success:hover{
  background-color: #3e8f40; /* Green */
}
.btn.danger{
  background-color: #c72f2f; /* Green */
}
.btn.danger:hover{
  background-color: #9c2626; /* Green */
}

/* animalTableBox > topBar */

.animalTableBox .topBar {
  padding: 12px 0;
}

/* animalTable */
.animalTable table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.animalTable table {
  width: 100%;
  text-align: center;
}

.animalTable tbody tr {
  cursor: pointer;
}

.animalTable tbody tr:hover{
  background-color: #DFE7F2;
  color: #000000;
}

.animalTable td {
  padding: 12px;
}

.animalTable img {
  height: 10rem;
  object-fit: contain;
}

/* animalDetail */
.animalDetail .box{
  padding: 12px;
}
.animalDetail img{
  padding-top: 12px; 
  height: 10rem;
  object-fit: contain;
}

/* emptyTip */
.emptyTip {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallBox {
  padding: 8px;
}

.radioBtn{
  margin-top: 8px;
}
.radioBtn input,label{
  margin-right: 8px;
}